.surprise{
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.surprise h1{
    font-size: 2rem ;
}
.surprise p{
    font-size: 1rem;
}
.surprise_container{
    display: flex;
    gap: 2rem;
    margin:2rem;

  
}
.surprise_box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;

}
.surprise_box h3{
    font-size:0.9rem;
    line-height: 1rem;
}
.surprise_box p{
    font-size: 0.8rem;
    width: 35ch;
}
.surprise_box div{
    border-radius: 10px;
    overflow: hidden;
    
}
.surprise_box div img{
    transition: transform 0.3s ease;
    max-width: 304px;
}
.surprise_box div:hover img{
    transform: scale(1.05);
}
/* transition: transform 0.3s;
img{
    width: 100%;
    transition: transform 0.3s;
}


}
.img_wrapper:hover{
transform: scale(1.03);
}
.img_wrapper:hover img{
transform: scale(1.045); */
